<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <title>MEAN CMS</title>
    <link rel="icon" href="./favicon.png">
    <link rel="shortcut icon" href="./favicon.png" />

    <base href="/" />

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

    <!-- application scripts -->
    <script src="app-dist/vendor.js"></script>
    <script src="app-dist/babelPolyfill.js"></script>
    <script src="app-dist/app.js"></script>

</head>
<body>
    <!-- header -->
    <header class="md-whiteframe-z1">
        <nav ng-controller="TabsController as vm" layout="column" class="tabs">
            <md-tabs layout="column" md-selected="vm.selectedTab">
                <md-tab ng-repeat="tab in vm.tabs">
                    <md-tab-label>
                        <a href="{{tab.path}}">{{tab.name}}</a>
                    </md-tab-label>
                </md-tab>
            </md-tabs>

            <md-button href="/login" class="logout" target="_self">Logout</md-button>
        </nav>
    </header>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer>
        Powered by Point Blank Development
    </footer>

    <!-- toast message templates -->
    <script type="text/ng-template" id="toast-success-template.html">
        <md-toast id="toast-message" class="success">
            <i class="fa fa-check-circle"></i>
            <span flex ng-bind="vm.message"></span>
            <a ng-click="vm.close()" class="close">×</a>
        </md-toast>
    </script>
    <script type="text/ng-template" id="toast-error-template.html">
        <md-toast id="toast-message" class="error">
            <i class="fa fa-exclamation-circle"></i>
            <span flex ng-bind="vm.message"></span>
            <a ng-click="vm.close()" class="close">×</a>
        </md-toast>
    </script>

    <!-- socket io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</body>
</html>