<div class="subnav">
    <md-button href="/news">News</md-button>
    <md-button href="/news/add">Add News Item</md-button>
</div>

<div class="main-content">
    <md-content>
        <md-card>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span>News</span>
                </div>
            </md-toolbar>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Title</th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="item in vm.news">
                            <td md-cell>{{item.title}}</td>
                            <td md-cell class="actions-cell">
                                <a href="/news/edit/{{item._id}}"><i class="fa fa-pencil"></i> Edit</a>
                                <a href ng-click="vm.deleteItem(item._id)"><i class="fa fa-times"></i> Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </md-content>

    <div ui-view class="view-side-form"></div>
</div>
